<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muasdiet.muasmakkode.diet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_dietapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_dietapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.muasdiet.muasmakkode.diet.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.muasdiet.muasmakkode.diet.KonsulAwalActivity" />
        <activity android:name="com.muasdiet.muasmakkode.diet.LoginActivity" />
        <activity android:name="com.muasdiet.muasmakkode.diet.Coba" />
        <activity android:name="com.muasdiet.muasmakkode.diet.DetilAktifitas" />
        <activity
            android:name="com.muasdiet.muasmakkode.diet.UI.DetailMakanan"
            android:label="Detail Makanan" />
        <activity android:name="com.muasdiet.muasmakkode.diet.InfoDev.InfoDevActivity" />
        <activity
            android:name="com.muasdiet.muasmakkode.diet.RadioButton.RadioButtonActivity"
            android:label="@string/title_olahraga_activity"
            android:parentActivityName="com.muasdiet.muasmakkode.diet.MainActivity" />
        <activity
            android:name="com.muasdiet.muasmakkode.diet.SettingFragment"
            android:label="Diagnosa"
            android:parentActivityName="com.muasdiet.muasmakkode.diet.MainActivity" />
        <activity android:name="com.muasdiet.muasmakkode.diet.Awal.KonsulActivity" />
        <activity
            android:name="com.muasdiet.muasmakkode.diet.UI.TentangAplikasi"
            android:label="Tentang Aplikasi"
            android:parentActivityName="com.muasdiet.muasmakkode.diet.MainActivity" />
    </application>

</manifest>