<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muasmakkode.diet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.ContohBarActivity" />
        <!-- android:parentActivityName=".MainActivity" /> -->
        <activity android:name=".KonsulAwalActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Coba" />
        <activity android:name=".DetilAktifitas" />
        <activity android:name=".UI.DetailMakanan" />
        <activity android:name=".InfoDev.InfoDevActivity" />
        <activity android:name=".RadioButton.RadioButtonActivity" />
        <activity android:name=".Awal.KonsulKeduaActivity" />
        <activity android:name=".Awal.KonsulKetigaActivity" />
        <activity android:name=".UI.DetailKonsumsi" />
        <activity android:name=".SettingFragment" />
        <activity android:name=".Awal.KonsulActivity" />
        <activity
            android:name=".fab"
            android:label="@string/title_activity_fab"
            android:theme="@style/AppTheme" />
        <activity android:name=".UI.TentangAplikasi"></activity>
    </application>

</manifest>